.heart{
   width: 20px;
        height: 20px;
        position: fixed;
        pointer-events: none;
        transform: translate(-40%, -10%);
        transition: transform 0.1s ease, width 0.1s ease, height 0.1s ease;
        z-index: 1000;
}